footer {
    background-color: $primary-color;
    padding: 3%;
    div {
        display: flex;
        .contact {
            color: wheat;
            font-size: 225%;
            margin-right: 20%;            
            align-self: center;
        }
        ul {
            display: flex;
            list-style: none;
            li{
                margin-right: 20%;
                align-self: center;
                a {
                    font-size: 130%;
                    cursor: pointer;
                    text-decoration: none;
                    color: white;
                    transition: 0.3s ease;
                    &:hover {
                        color: wheat;
                    }
                }
            }
        }
        .me {
            display: flex;
            color: white;
            font-size: 115%;
            align-self: center;
            margin-left: 25%;
        }
    }

}