#gallery {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin-top: 5%;
    justify-items: center;

    img {
        width: 70%;
    }
    .sofa {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 90%;
        grid-column: 1 / 4;
    }   
}